.create-post-button{
    padding:0.75rem;
    color:#fff;
    border:none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ea
}

.create-post-button:hover{
    background-color: #0056b3;
}