.register-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:aliceblue;
}

.register-form{
    background-color:#fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
}

.register-button{
    padding: 0.75rem;
    background-color: #0056b3;
    color:white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover{
    background-color: #0056b3;
}